<% if @temp_logo.new_record? %>

  alert("Failed to upload file: <%= j @temp_logo.errors.full_messages.join(', ').html_safe %>");

<% else %>

  // Add the logo thumb to the page
  $('.company-logo-wrap').html('<%= j image_tag @temp_logo.logo_url(:thumb), class: "company-logo" %>').slideDown(300);

  // Add a reference to the logo so we can assign it on form submit
  $('#company_temp_logo_id').attr('value', <%= @temp_logo.id %>);

  // -------------------------------------------------------------------------
  // Use Colour Thief to set background colour using the logo
  // -------------------------------------------------------------------------

  var colorsForImage = function($image) {
    var colorThief = new ColorThief();
    var image = $image[0];
    var color = colorThief.getColor(image);
    var palette = colorThief.getPalette(image);
    var colorThiefOutput = {
      rgb: {
        color: color,
        palette: palette
      },
      hex: {
        color: rgbToHex(color[0], color[1], color[2]),
        palette: palette.map(function(item){ return rgbToHex(item[0], item[1], item[2]); })
      }
    };
    return colorThiefOutput;
  };

  function componentToHex(c) {
      var hex = c.toString(16);
      return hex.length == 1 ? "0" + hex : hex;
  }

  function rgbToHex(r, g, b) {
      return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
  }

  // Wait for the company logo to load before doing stuff
  $('.company-logo').on('load', function() {

    // Generate the colours from the logo image
    var colours = colorsForImage($('.company-logo'));

    // Set the background colour of the page
    $('body').css('background-color', colours['hex']['color']);

    // Update the swatch pallette
    $('.swatches').empty();

    // Add the primary colour first and set the background colour input
    $('.swatches').append('<div class="swatch active" data-colour="' + colours['hex']['color'] + '" style="background-color: ' + colours['hex']['color'] + '"></div>');
    $('#company_background_colour').attr('value', colours['hex']['color']);

    // Add the rest of the colours to the swatch pallette
    $.each(colours['hex']['palette'], function(index,colour){
      $('.swatches').append('<div class="swatch" data-colour="' + colour + '" style="background-color: ' + colour + '"></div>');
    });

    // Add the event handler that will change the colour
    $(document).on('click', '.swatch', function(){

      var background = $(this).data('colour');
      $('body').css('background-color', background);

      $('.swatch').removeClass('active');
      $(this).addClass('active');

      $('#company_background_colour').attr('value', background);
    });

    // Show the colour swatch pallette section
    $('.company-colours').slideDown(300);

  });



<% end %>