<%= provide(:title, 'About') %>

<div class="lead-in-header">
  <div class="content-wrapper">
    <h1 class="page-header">About Pinpoint.</h1>
    <p>We're awesome. Read about us. Work for us.</p>
  </div>
</div>

<div class="content-wrapper">

  <h1>This is the about page</h1>

</div>