<div id="marketing-header">

	<div class="container">
		<div id="hero-unit">
			<h1>Find and recruit talented new people, faster than you ever thought possible</h1>
			<%= link_to "Get Started", register_path, :class => "button large primary" %>
		</div>
	</div>

</div>

<div id="marketing-content">
	<div class="container">

		<div id="elevator-pitch">
			<h2>Onboard is a full-stack recruitment tool designed to simplify the process of finding top tier talent.</h2>
		</div>

		<div id="content">
			<p>This is our content, innit</p>
		</div>

	</div>
</div>