<div id="hero-unit">
	<h1>Large Callout</h1>
	<p>Description blah blah</p>
	<%= link_to "Sign Up", register_path, :class => "button success" %>
</div>

<div id="elevator-pitch">
	<p>lorum ipsum solor dit amet blah blah</p>
</div>

<div id="content">
	<p>This is our content, innit</p>
</div>