<div id="marketing-header">

	<div class="container">
		<div id="hero-unit">
			<h1>An entirely new way to find the right people</h1>
			<h2>Pinpoint helps you easily find, recruit, and onboard the best people for your organisation</h2>
			<%= link_to "Get Started", register_path, :class => "button-white" %>
			<%= link_to "Take a Tour", register_path, :class => "button-green" %>
			<%= image_tag("hero-screenshot.png") %>
		</div>
	</div>

</div>

<div id="marketing-content">
	<div class="container">

		<div id="elevator-pitch">
			<h2>Pinpoint is a full-stack recruitment tool designed to simplify the process of finding top-tier talent.</h2>
		</div>

		<div id="content">
			<p>This is our content, innit</p>
		</div>

	</div>
</div>