/*---------------------------------------------------
  Job Management Interface
---------------------------------------------------*/

.boards {
  width: 100%;
  padding: 5px;
  position: absolute;
  top: $top-bar-height;
  right: 0;
  bottom: 0;
  left: 0;

  -ms-overflow-x: auto;
      overflow-x: auto;
  @include flexbox();

  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  // -webkit-align-items: flex-start;
  //         align-items: flex-start;
  // -webkit-align-content: flex-start;
  //         align-content: flex-start;

}

.board {
  margin: 10px;
  padding: 10px;
  background: $white-smoke;
  margin: 0 5px;
  border: 1px solid $smoke;

  // Need this to make items fixed width
  @include flex(0 0 260px);
  width: 280px;
}