/* --------------------------------------------------
  Pricing
-------------------------------------------------- */
.l-pricing {

  &.content-wrapper {
    width: 1000px;
  }
  &.monthly {
    .yearly {
      display: none;
    }
  }
  &.yearly {
    .monthly {
      display: none;
    }
  }

  .switch-toggle {
    width: 300px;
    margin: 40px auto;
    border-radius: 4px;
    padding: 15px;

    label {
      font-weight: 300;
      padding: 10px 20px;
    }

  }

  .pricing-plans {
    @extend .group;
    margin: 40px auto 60px;

    .plan {
      @include col(1/3, $gutter: 1);
      border: 1px solid #ededed;
      height: 720px;
      border-radius: 4px;
    }

    header {
      background: #f5f6f6;
      padding: 30px;
      border-bottom: 1px solid #ededed;
      position: relative;
      
      .button-blue, .button-green {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        bottom: -22px;
        left: 60px;
      }
    }

    .overview {
      padding: 40px 30px 30px 30px;
      text-align: center;
    }

    

    .title {
      text-align: center;
      letter-spacing: -1px;
      color: #555;
      @include font-size(28);
      font-weight: 300;
    }
    .price {
      text-align: center;
      margin: 20px 0 30px;
      letter-spacing: -1px;
      color: $blue;
      font-weight: 400;
    }
    .currency {
      position: relative;
      top: -10px;
      @include font-size(30);
    }
    .amount {
      @include font-size(60);
      font-weight: 500;
      letter-spacing: -4px;
    }
    .specification {
      list-style: none;
      padding: 20px 30px;
      margin: 0 auto;
      @include font-size(18);
      font-weight: 500;

      li {
        text-align: left;
        margin-bottom: 10px;
        @include font-size(14);
        font-weight: 400;
        span {
          @include font-size(16);
          font-weight: 400;
          padding-right: 10px;
          color: $green;
        }
      }
    }
  }

  .pricing-faq {
    margin-bottom: 30px;

    .faq-item {
      margin-bottom: 40px;
    }

    .question {
      @include font-size(18);
      color: $blue;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }
}