<h1>Edit Company</h1>

<%= form_for @company, url: admin_url do |f| %>

  <%= render 'shared/error_list', model: @company %>

  <%= render 'shared/companies/form', f: f %>

  <div class="actions">
    <%= f.submit 'Edit Company', class: "button" %>
  </div>

<% end %>