/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$nero: #222;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$grey: #777;
$suva: #888;
$nobel: #999;
$chalice: #AAA;
$silver: #BBB;
$alto: #CCC;
$gainsboro: #DDD;
$smoke: #EEE;
$white-smoke: #FAFAFA;

/* --------------------------------------------------
  Reds
-------------------------------------------------- */
$red: #EF634A;

/* --------------------------------------------------
  Oranges
-------------------------------------------------- */
$orange: #EF5C52;

/* --------------------------------------------------
  Yellows
-------------------------------------------------- */


/* --------------------------------------------------
  Greens
-------------------------------------------------- */
$green: #5FC579;

/* --------------------------------------------------
  Blues
-------------------------------------------------- */
$blue: #37A8E0;