<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Jobs &rarr; <%= @job.title %> &rarr; <span>Edit</span>
  </div>

</div>

<div class="content-wrapper">

  <div class="app-container">

	  <h2 class="page-header">Editing job</h2>

		<%= render 'form' %>

	</div>

</div>