<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name} Dashboard", admin_path %> > <span><%= link_to "Add a new Job", new_admin_job_path %></span>
  </div>

</div>

<div class="content-wrapper">

  <div id="app-container">

  	<%= render 'form' %>

  </div>

</div>