<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; <span><%= link_to "Add a new Job", new_admin_job_path %></span>
  </div>

</div>

<div class="content-wrapper">

  <div class="app-container">

  	<h2 class="page-header">Add a new job</h2>

  	<%= render 'form' %>

  </div>

</div>