<div class="sub-header">
  <%= link_to "#{@company.name} Dashboard", admin_path %> > <span><%= link_to "Add a new Job", new_admin_job_path %></span>
</div>

<div id="app-container">

	<%= render 'form' %>

</div>
