<h1>New Company</h1>

<%= form_for @company do |f| %>

  <%= render 'shared/error_list', model: @company %>

  <%= render 'shared/companies/form', f: f %>

  <div class="actions">
    <%= f.submit 'Create Company', class: "button" %>
  </div>

<% end %>