<div class="content-wrapper">

	<div class="app-container">

		<h2 class="page-header">New Company</h2>

		<%= form_for @company do |f| %>

		  <%= render 'shared/error_list', model: @company %>

		  <%= render 'shared/companies/form', f: f %>

		  <div class="actions">
		    <%= f.submit 'Create Company', class: "button-green" %>
		  </div>

		<% end %>

	</div>

</div>