<section class="hero">
  <div class="content pad-vert-medium">
    <h2><%= @company.name %></h2>
    <h1>Work at <%= @company.name %></h1>
    <a class="button button-white" href="#">View Open Positions</a>
  </div>
</section>

<section class="sub-nav">
  <div class="content">
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#open-positions">View Open Positions</a></li>
    </ul>
  </div>
</section>

<section class="overview" id="overview">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h4>About <%= @company.name %></h4>
      <p>Our products reflect our culture. Pinpoint makes it so anyone, no matter the size or type of your business, can find and recruit the best people. Our company is structured so that anyone, regardless of your role or level of experience, can execute on a good idea.</p>
    </div>
  </div>
</section>

<section class="benefits" id="benefits">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h4>Employment Benefits</h4>
    </div>

    <div class="row">
      <div class="col-1-2">
        <h5>Health and wellness</h5>
        <p>We offer a variety of health insurance options so you can choose a plan that best meets your lifestyle. You'll have access to a national network of doctors that provides comprehensive coverage when you need it most. While you’re onsite in San Francisco, take advantage of our wellness program to stay balanced and healthy. And come to work hungry—our nutrition programs add a little something special to daily life at Square.</p>
        <h5>Taking time off</h5>
        <p>At Square, we have an unlimited vacation policy that allows you to get the rest and relaxation you need to refresh. If you’re welcoming a little one, our paid maternal and paternal leave offers four months of leave at full pay.</p>
        <h5>Money wise</h5>
        <p>We offer a competitive equity package to full-time employees to share ownership and achievement in the company. And we provide a healthy dose of financial education on equity and retirement planning so you can manage your money on your terms.</p>
      </div>

      <div class="col-1-2">
        <h5>Learning and development</h5>
        <p>At Square, you can customize your career trajectory through our development programs. Our orientation program, Square One, will set you up for success in your new job. Our company-wide quarterly Hack Week is an unstructured week to build something you believe should exist in the world. Additionally, each Square has the option to participate in a variety of peer-to-peer learning opportunities, such as Watercolor, Terrarium, and iOS classes.</p>
        <h5>Employee experience</h5>
        <p>Life at Square wouldn’t be the same without movie nights, Square Games, our annual Holiday Party, and Bring Your Kids to Work Day. These are a few ways that we like to celebrate and bond over common interests.</p>
      </div>
    </div>

  </div>
</section>

<section class="overview" id="open-positions">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h4>Open Positions</h4>
    </div>

  </div>
</section>
