/* --------------------------------------------------
  Application Layout Template
-------------------------------------------------- */
.l-application {
  background-color: #EFF0F1;

  .content-wrapper {
    width: 1180px;
    margin: 0 auto;
  }

  #app-menu {
    width: 250px;
    height: 100%;
    background-color: $nero;
    float: left;

    nav {
      ul {
        list-style-type: none;
      }
      li {
        color: #E8E3E9;
        padding: 40px;
        text-transform: uppercase;
        font-weight: 300;
        border-top: 2px solid #2F405C;

        i {
          font-size: 24px;
          line-height: 30px;
          margin: 10px 15px 0px 0px;
        }

        span {
          float: right;
          color: $green;
        }
      }
    }
  }

  #app-container {
    background-color: #fff;
    margin: 30px 0px;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 30px;

    .page-header {
      font-weight: 300;
      @include font-size(32);
      letter-spacing: -2px;
      margin-top: 0px;
      text-rendering: optimizeLegibility;
    }
  }

  .dashboard-actions {
    border-bottom: 2px dashed #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;

    ul {
      margin: 0px;
      padding: 0px;
    }

    li {
      list-style-type: none;
      margin-bottom: 20px;
      display: block;
    }

    a {
      width: 100%;
    }
  }

  .admin-page-title {
    margin: 30px 30px 0px 30px;
    font-weight: 300;
    letter-spacing: -1.5px;
  }

  .applicant-header {
    @extend .group;
    border-bottom: 1px solid #dedede;
    display: block;

    img {
      float: left;
      margin: 0px 20px 20px 0px;
    }

    h1 {
      font-weight: 300;
      letter-spacing: -2px;
      margin: 0px;
      padding: 18px 0px 0px 5px;
      @include font-size(36);
      float: left;
    }

    ul {
      float: right;
      margin-top: 20px;
    }

    li {
      display: inline-block;
      margin-right: 10px;
      &:last-child { margin-right: 0px; }
    }

  }
}