/* --------------------------------------------------
  Devise Layout Template
-------------------------------------------------- */
.body-authentication {
  background-color: #EFF0F1;
}

#authentication {
  background-color: #fff;
  width: 550px;
  margin: 200px auto;
  padding: 50px;
  border: 1px solid #dedede;
  border-radius: 3px;

  h1 {
      color: #4D9DE0;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      letter-spacing: -4px;
      font-size: 46px;
      line-height: 46px;
      font-weight: 300;
      text-align: center; 
    }

  .login-actions {
    @extend .group;
    margin: 20px 0px;

    .remember-me {
      width: 220px;
      float: left;
    }

    input[type="submit"] {
      float: right; 
    }

    input[type="checkbox"] {
      margin-top: 12px
    }

    label {
      width: 70%;
    }
  }
}