/* --------------------------------------------------
  Marketing Layout Template
-------------------------------------------------- */
.l-marketing {

  .content-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  #marketing-header {
    background-color: #212B3A;
    background-size: 100%;

    #hero-unit {
      text-align: center;
      padding: 100px 120px 0px 120px;

      a {
        display: inline-block;
        margin-top: 40px;
        margin-right: 40px;
      }

      h1 {
        color: #fff;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        letter-spacing: -2px;
        font-size: 40px;
        line-height: 46px;
        font-weight: 400;
      }

      h2 {
        font-weight: 400;
        letter-spacing: -.02em;
        max-width: 800px;
        margin: 0 auto;
        line-height: 36px;
        color: #8fb5ed;
      }

      img {
        display: block;
        margin: 50px auto 0px auto;
        max-width: 1000px;
        height: auto;
      }
    }
  }

  #marketing-content {

    #elevator-pitch {
      text-align: center;
      padding: 80px 160px;
      h2 {
        font-size: 34px;
        line-height: 43px;
        font-weight: 200;
        -webkit-font-smooth: antialiased;
      }
    }
  }

  .lead-in-header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EAEAEA;
    padding: 30px;
    text-align: center;
    margin-bottom: 60px;
    min-height: 194px;

    h1 {
      @include font-size(48);
      color: #555;
      letter-spacing: -3.1px;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      margin-bottom: 0;
    }

    p {
      @include font-size(16);
      margin: 12px auto;
      color: #999;
    }
  }

}