//-----------------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------------

.button {
  font-family: 'Gotham SSm A';
  min-width: 200px;
  max-width: 100%;
  min-height: 40px;
  padding: 12px 40px;
  border-radius: 3px;
  border: none;
  font-size: 11px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button-success {
  @extend .button;
  color: $green;
  &:hover {
    color: #FFF;
    background-color: $green;
    border: 2px solid $green;
  }
}

.button-white {
  @extend .button ;
  background-color: #fff;
  color: #2996cc;
  &:visited {
    color: #2996cc;
  }
}

.button-blue {
  @extend .button ;
  background-color: #4D9DE0;
  color: #fff;
  &:visited {
    color: #fff;
  }
}

.button-info {
  @extend .button;
  color: $blue;
  &:hover {
    color: #FFF;
    background-color: $blue;
    border: 2px solid $blue;
  }
}

.button-primary {
  @extend .button;
  color: $orange;
  &:hover {
    color: #FFF;
    background-color: $orange;
    border: 2px solid $orange;
  }
}

.button-large {
  @extend .button;
  padding: 19px 51px 17px;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid;
}