//-----------------------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------------------

.button {
  font-family: 'Gotham SSm A';
  min-width: 200px;
  max-width: 100%;
  min-height: 40px;
  padding: 12px 40px;
  border-radius: 3px;
  border: none;
  font-size: 11px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.button-green {
  @extend .button;
  background-color: $green;
  color: #fff;
  &:visited {
    color: #fff;
  }
}

.button-yellow {
  @extend .button;
  background-color: #FFC526;
  color: #fff;
  &:visited {
    color: #fff;
  }
}

.button-red {
  @extend .button;
    background-color: #DF4853;
    color: #fff;
    &:visited {
      color: #fff;
    }
}

.button-white {
  @extend .button ;
  background-color: #fff;
  color: #2996cc;
  &:visited {
    color: #2996cc;
  }
}

.button-blue {
  @extend .button ;
  background-color: #4D9DE0;
  color: #fff;
  &:visited {
    color: #fff;
  }
}
