//-----------------------------------------------------------------------------
// Flash Messages
//-----------------------------------------------------------------------------

.flash {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 4px;
  @include font-size(14);
}

.flash-notice {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
}

.flash-alert {
  color: #A94442;;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.flash-success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}