//-----------------------------------------------------------------------------
// Flash Messages
//-----------------------------------------------------------------------------

.flash {
  padding: 15px;
  margin-bottom: 30px;
}

.flash-notice {
  background-color: $blue;
  color: white;
}

.flash-alert {

}