/* --------------------------------------------------
  General Tabs
-------------------------------------------------- */
.tabs {

  ul {
    @extend .group;
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

/* --------------------------------------------------
  Application Show Tabs
-------------------------------------------------- */
.applicant-tabs {

  .tab-links li {

    float: left;
    width: 25%;
    height: 60px;
    background: $smoke;
    margin-bottom: 30px;
    letter-spacing: -1px;
    line-height: 60px;

    a {
      display: block;
      text-align: center;

      i {

        font-size: 30px;
        line-height: 60px;
        margin-right: 15px;

        // Hack to get round annoying padding on UI8 Icons
        &[class^="icon"] {
          font-size: 42px;
        }
      }
    }

    &:hover, &.ui-tabs-active {
      color: #FFF;
      background: $blue;
    }
  }
}