/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --------------------------------------------------
  Imports
-------------------------------------------------- */
@import 'variables.scss';


/* --------------------------------------------------
  General Styling
-------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: Proxima Nova;
	box-sizing: border-box;
	text-decoration: none;
}

html, body {
	height: 100%;
}

.green_accent {
	color: $green;
}

.blue_accent {
	color: $blue;
}

.gravatar {
	width: 32px;
	height: auto;
	border-radius: 50%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.button {
	display: inline-block;
	padding: .8em 1.2em;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
	white-space: nowrap;
	transition: all .2s ease;

	&.success {
		color: #fff;
		background-color: $green;
	}

	&.info {
		color: #fff;
		background-color: $blue;
	}
}

/* --------------------------------------------------
  Header Styles
-------------------------------------------------- */
#topbar {
	background: #fff;
	height: 85px;
	box-shadow: 0 0 5px 0 #ccc;
	padding: 25px 35px;

	#logo {
		float: left;
		h1 {
			line-height: 40px;
			font-weight: 600;
			font-size: 2em;
			color: $orange;
		}
	}
}

nav#main {
	float: right;

	ul {
		list-style: none;
	}

	li {
		display: inline;
		margin-left: 30px;
		font-size: 1.1em;
		line-height: 40px;
	}

}

/* --------------------------------------------------
  Application Layout Template
-------------------------------------------------- */
#app-menu {
	width: 250px;
	height: 100%;
	float: left;
	background-color: $darkBlue;
	padding: 40px;
}

#app-container {
	float: left;
	padding: 50px;
}

#app-info {
	width: 250px;
	height: 100%;
	float: right;
	background-color: $midBlue;
	padding: 40px;
}




/* --------------------------------------------------
  Marketing Layout Template
-------------------------------------------------- */
#marketing-container {

	#hero-unit {
		background-color: $darkBlue;
		color: #fff;
		text-align: center;
		padding: 80px;
	}

	#elevator-pitch {
		background-color: $midBlue;
		padding: 50px;
		text-align: center;
	}

	#content {
		width: 1020px;
		margin: 0 auto;
		padding: 50px;
	}
}










