/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --------------------------------------------------
  Imports
-------------------------------------------------- */
@import 'variables.scss';
@import 'forms.scss';
@import 'tables.scss';
@import 'typography/ui-font-solid.css';


/* --------------------------------------------------
  General Styling
-------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: 'ProximaNova-Light';
	box-sizing: border-box;
	text-decoration: none;
}

html, body {
	height: 100%;
}

.green_accent {
	color: $green !important;
}

.blue_accent {
	color: $blue !important;
}

.gravatar {
	width: 40px;
	vertical-align: middle;
	height: auto;
	border-radius: 50%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.button {
	font-family: 'ProximaNova-Semibold';
	background: none;
	background-color: transparent;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.2s linear;
	text-decoration: none;
	letter-spacing: 1px;
	border: 2px solid;
	font-size: 11px;
	padding: 10px 20px 10px;

	&.success {
		color: $green;
		background-color: inherit;
		&:hover {
			color: #fff;
			background-color: $green;
			border: 2px solid $green;
		}
	}

	&.info {
		color: $blue;
		background-color: inherit;
		&:hover {
			color: #fff;
			background-color: $blue;
			border: 2px solid $blue;
		}
	}

	&.primary {
		color: $orange;
		background-color: inherit;
		&:hover {
			color: #fff;
			background-color: $orange;
			border: 2px solid $orange;
		}

	}

	&.large {
		padding: 19px 51px 17px;
		font-size: 12px;
		line-height: 16px;
		border: 2px solid;
	}
}

a:visited {
	color: inherit;
}

.container {
	width: 950px;
	margin: 0 auto;
}

#notice {
	background-color: $blue;
	padding: 15px;
	color: white;
	margin-bottom: 30px;
}
/* --------------------------------------------------
  Header Styles
-------------------------------------------------- */
#topbar {
	background: #fff;
	height: 88px;
	box-shadow: 0 0 5px 0 #ccc;
	padding: 25px 35px;

	#logo {
		float: left;
		h1 {
			line-height: 40px;
			font-weight: 600;
			letter-spacing: -1.5px;
			font-size: 2em;
			color: $orange;
			font-family: 'ProximaNova-Semibold'
		}
	}
}

nav#main {
	float: right;
	color: $darkGrey;

	ul {
		list-style: none;
	}

	li {
		display: inline;
		margin-left: 30px;
	}

	a {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 40px;
		letter-spacing: 1.5px;
		font-family: 'ProximaNova-Semibold'
	}

}

/* --------------------------------------------------
  Devise Layout Template
-------------------------------------------------- */
.body-authentication {
	background: url(http://subtlepatterns.com/patterns/cartographer.png);
}

#authentication {
	background: #fff;
	width: 550px;
	margin: 200px auto;
	padding: 50px;

	h1 {
			line-height: 40px;
			font-weight: 600;
			letter-spacing: -1.5px;
			font-size: 2.5em;
			color: $orange;
			font-family: 'ProximaNova-Semibold';
			text-align: center;
		}
}

/* --------------------------------------------------
  Application Layout Template
-------------------------------------------------- */
#app-menu {
	width: 250px;
	height: 100%;
	background-color: $darkGrey;
	float: left;

	nav {
		ul {
			list-style-type: none;
		}
		li {
			color: #E8E3E9;
			padding: 40px;
			text-transform: uppercase;
			font-weight: 300;
			border-top: 2px solid #2F405C;

			i {
				font-size: 24px;
				line-height: 30px;
				margin: 10px 15px 0px 0px;
			}

			span {
				float: right;
				color: $green;
			}
		}
	}
}

#app-container {
	padding: 50px;
	position: absolute;
	padding-left: 300px;
	width: 100%;
}




/* --------------------------------------------------
  Marketing Layout Template
-------------------------------------------------- */
#marketing-header {
	background-color: $darkGrey;
	/*background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);*/
	background: url(http://subtlepatterns.com/patterns/cartographer.png);

	#hero-unit {
		text-align: center;
		padding: 100px 120px;

		a {
			display: inline-block;
			margin-top: 40px;
		}

		h1 {
			color: #fff;
			font-family: aktiv-grotesk-std;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			letter-spacing: -2px;
			font-size: 40px;
			line-height: 46px;
			font-weight: 400;
		}
	}
}

#marketing-content {

	#elevator-pitch {
		text-align: center;
		padding: 80px 160px;
		h2 {
			font-family: aktiv-grotesk-std;
			font-size: 34px;
			line-height: 43px;
			font-weight: 200;
			-webkit-font-smooth: antialiased;
		}
	}
}










