/* --------------------------------------------------
  Basic Colour Variables *Initial*
-------------------------------------------------- */
$lightBlue: #D5DEE7;
$darkBlue: #344563;
$lightGrey: #EDF0F5;
$green: #5FC579;
$midBlue: #35A8E1;
$red: #EF634A;
$orange: #EF5C52;
$blue: #37A8E0;
