/* --------------------------------------------------
  Basic Colour Variables *Initial*
-------------------------------------------------- */
$darkGrey: #27272B;

$blue: #37A8E0;
$green: #5FC579;
$red: #EF634A;
$orange: #EF5C52;


