	<footer class="application-footer">

		<div class="content-wrapper">

			<div class="left">
				<p>Need help? <a href="mailto:support@pinpointhq.com">Email us</a> or reach out on <a href="http://twitter.com/pinpointhq">Twitter</a>.</p>
			</div>

			<div class="right">
				<p>&copy; Pinpoint 2015</p>
			</div>

		</div>

	</footer>

</html>