	<div class="trial-hero">
		<div class="content-wrapper">
			<p>Start your 14-day free trial right now. No credit card required. <%= link_to "Try it for free", register_path, class: "button-white" %></p>
		</div>
	</div>

	<footer class="marketing-footer">
		<div class="content-wrapper">

			<div class="row">
				<div class="col-1-3 footer-bureaucracy">
					<ul>
						<li><a>Terms &amp; Conditions</a></li>
						<li><a>Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-1-3 footer-logo">
					<a class="logo">pinpoint</a>
				</div>
				<div class="col-1-3">
					<ul class="footer-social">	
						<li><a href="http://www.facebook.com/pinpointhq">Facebook</a></li>
						<li><a href="http://www.twitter.com/pinpointhq">Twitter</a></li>
						<li>LinkedIn</li>
					</ul>
				</div>
			</div>


		</div>
	</footer>

</html>