<%= render 'layouts/header' %>

<body class="external-body">

  <div class="external">

    <%= yield %>

    <footer class="poweredby">
      <p>Powered by <a href="http://www.pinpoint.hr">Pinpoint</a></p>
    </footer>

  </div>

</body>
