<%= render 'layouts/header' %>

<body class="l-external">

  <div class="content-wrapper">

    <%= yield %>

    <footer class="poweredby">
      <p>Powered by <a href="https://www.pinpointhq.com">Pinpoint</a></p>
    </footer>

  </div>

</body>
