<%= render 'layouts/header' %>

<body class="l-external">

  <div class="content-wrapper">

    <%= yield %>

    <footer class="poweredby">
      <p>powered by <a href="https://www.pinpointhq.com">pinpoint</a></p>
    </footer>

  </div>

</body>
